body {
	margin-top: 50px;
	font-size:12pt;
	font-family: 'open sans';
}

.btn-circle.btn-xl {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	margin: 6px 0px;
	font-size: 12px;
	line-height: 1.428;
	border-radius: 15px;
}
.btn-outline-inverse:hover {
	color: #006633;
	text-shadow: none;
	background-color: #FFF;
	border-color: #FFF;
}
.btn-outline-inverse{
    color: white;
    text-shadow: none;
    background-color: #006633;
    border-color: #FFF;
}

.btn-outline:hover {
	color: #FFF;
	text-shadow: none;
	background-color: #006633;
	border-color: #006633;
}
.btn-outline{
		color: #006633;
		text-shadow: none;
		background-color: #FFF;
		border-color: #006633;
		width:280px;
}

.circle {
    margin: 0 auto;
    display: block;
    height: 120px;
    width: 120px;
    line-height: 120px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
		border:1px white solid;
    color: white;
    text-align: center;
    font-size: 2em;
}

#field {
  background-color: #006633;;
  padding:5px;
  /* border:1px black solid; */
  width:830px;
  margin:0 auto;
}

.row {
  display: block;
  clear: both;
  margin:5px;
}

.cell {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: none repeat scroll 0% 0% rgba(238, 228, 218, 0.35);
}

.cell:hover {
	width: 25px;
	height: 25px;
	margin-right: 15px;
	float: left;
	border-radius: 3px;
	background: white;
}


#radioBtn .active{
    color: #FFFFFF;
    background-color:  #006633;
}

.page_container {
	padding-top:80px;
}