<script type="text/javascript">
<!--
$('#radioBtn a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').addClass('active');
});
//-->
</script>

<div id="config" class="container" style="padding-bottom: 20px;">
	<p><h1>Configure your Game</h1></p>
	<div class="col-md-8" style="padding-bottom: 20px;">
    <input id="range" type="range" ng-model="fieldSize" ng-change="resizeField();" min="5" max="20" value="8"/>

    <br /><br/>
    
    <div class="input-group" style="margin:0 auto;">
    	<div id="radioBtn" class="btn-group">
    		<a class="btn btn-default btn-md" data-toggle="gameType" data-title="NPC">Player vs. NPC</a>
            <a class="btn btn-default btn-md active" data-toggle="gameType" data-title="PVP">Player vs. Player</a>
    	</div>
    	<input type="hidden" name="gameType" id="gameType" value="PVP">
   	</div>
    
    <!-- More options for NPC -->
    		
    			
    
	</div>
	<div class="col-md-4" style="text-align: center;">
		<a class="btn btn-outline btn-lg" ng-click="addEventListener()">Play Now!</a>
		<a class="btn btn-outline btn-lg" ng-click="joinOnlineGame()">Join a 8x8 Online Game!</a>
	</div>
</div>
<div style="background-color: #006633; padding-bottom: 40px; padding-top:40px; text-align: center;">
	
    	<div id="field">
      		<div class="row" id="row_{{$index}}" ng-repeat="column in field track by $index">
          		<div class="cell" id="{{$index}}" ng-repeat="cell in column track by $index" ng-click="pressed($event)">{{cell}}</div>
      		</div>
    	</div>
    
</div>
<div id="gameOptions" class="container" style="display: none;">
  <div class="col-md-6">Number of turns: {{numberOfTurns}}</div>
  <div class="col-md-6">Current Player: {{currentPlayer}}</div>
  <div class="col-md-6">You are Player: {{playerId}}</div>
</div>
