@main{
<script type="text/javascript" src="assets/javascripts/jquery.onepage-scroll.js"></script>
<link href='assets/stylesheets/onepage-scroll.css' rel='stylesheet' type='text/css'>
<link href='assets/stylesheets/about.css' rel='stylesheet'	type='text/css'>


<!-- needed for onepage plugin -->
<script>
	$(document).ready(function() {
		$(".main").onepage_scroll({
			sectionContainer : "section",
			responsiveFallback : 600,
			loop : false
		});
	});
</script>

<div class="wrapper">
	<div class="main">
		<!-- First "Page" -->
		<section class="page1">
			<div class="page_container">
				<div class="container">
					<div class="col-md-12">
						<h1>FiveWins</h1>
						<br />
						<h2>What is Five Wins?</h2>
						<br /> Maybe you will know Five Wins as Five in a row. Five Wins
						its very similar to TicTacToe. The diferrences are:
						<ul>
							<li>You need 5 token instead of 3</li>
							<li>The gamefield is bigger</li>
						</ul>
						<br /> Five Wins is really easy to play and it's very
						self-evident. Just click on Play in the Navigation and start a
						game. Befor you start the game, you can choose how big you like
						your gamefield and against whom you want to play. <br /> <br />
						<br />
						<div style="text-decoration: bold; text-align: center;">
							Scroll for further information.</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Second "Page" -->
		<section class="page2">
			<div class="page_container">
				<div class="container">
					<div id="configure" class="col-md-12">
						<!-- load dummy configuration file  -->
						<script>
						<!--
							$("#configure")
									.load(
											"assets/htmls/dummy_configure_game.html",
											function() {
												for (i = 0; i < 5; i++) {
													$("#dummy_configure_field")
															.append(
																	"<div class=\"row\" id=\"row_" + i + "\">");
													for (j = 0; j < 5; j++) {
														$("#row_" + i)
																.append(
																		"<div class=\"cell\" >");
													}
												}
											});
							-->
						</script>
					</div>
					<div class="col-md-12">
						<br /> Above you see the configuration dialog. Click on an element
						to see what it does.
					</div>
				</div>
			</div>
		</section>

		<!-- Third "Page" -->
		<section class="page3">
			<div class="page_container">
				<div class="container">
					<div class="col-md-12">
						<h1>Playing Dialog</h1>
						<br />
					</div>
					<div class="col-md-12" id="play_game">
						<!-- load dummy playing file  -->
						<script>
						<!--
							$("#play_game")
									.load(
											"assets/htmls/dummy_play_game.html",
											function() {
												for (i = 0; i < 5; i++) {
													$("#dummy_play_field")
															.append(
																	"<div class=\"row\" id=\"row2_" + i + "\">");
													for (j = 0; j < 5; j++) {
														$("#row2_" + i)
																.append(
																		"<div class=\"cell\" >");
													}
												}
											});
							-->
						</script>
					</div>
					<div class="col-md-12">
						<br /> Above you see the playing dialog. Click on an element
						to see what it does.
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

}
