@(message: String, columns: Integer) @main("Playing 5 Wins") {
<script type="text/javascript">
		function pressed(x,y) {
		   //send ajax call
		   $.post("/setCell/"+x+"/"+y, function (data) {
			   var msg = JSON.parse(data);

				$('#testOutPut').empty();
				$('#testOutPut').append(msg.isDraw);
				$('#testOutPut').append(msg.playerSign);
				$('#testOutPut').append(msg.status);
				$('#testOutPut').append(msg.isWon);
				$('#testOutPut').append(msg.winner);
		   })
		   //evaluate JSON
		   

			   
		}
		
	</script>
<div class="well">
	<h1>
		5 Wins
	</h1>
		<p>
			@for(i <- 0 to columns-1){
				@for(j <- 0 to columns-1){
					<div style="height:10px; width:10px; background-color:black; float:left; margin-right:5px;" 
						id="@i@j" onclick="pressed(@i,@j)"></div>
				}
			<br>
			}
		</p>
		<div id="testOutPut"></div>

		@Html(HtmlFormat.escape(message).toString.replace("\n", "<br />"))
</div>

}
