@main("Welcome to 5 Wins"){
<div style="background-color: #006633;">
	<div class="container">

			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron" style="background-color: transparent; text-align:center; align:center;">
				<span class="circle"><h1>5</h1></span>
				<h1>5 Wins</h1>
				<p>This example is a quick exercise to illustrate how the
					default, static and fixed to top navbar work. It includes the
					responsive CSS and HTML, so it also adapts to your viewport and
					device.</p>
				<p>To see the difference between static and fixed top navbars,
					just scroll.</p><br/>

				<p class="lead">
					<a href="getting-started#download"
						class="btn btn-outline-inverse btn-lg">Let's play</a>
				</p>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div>
	<div class="container" style="padding-bottom:20px;">
		<div class="row" style="text-align:center; padding-top: 60px; ">
			<h1>Used Technologies</h1>
		</div>
		<div class="row" style="padding-bottom:20px;">
			<div class="col-md-4">
				<img data-src="holder.js/100%x180" alt="...">
				<h2>GitHub</h2>
				<p>GitHub is a Git repository web-based hosting service, which offers
					all of the distributed revision control and source code management
					(SCM) functionality of Git as well as adding its own features.
					Unlike Git, which is strictly a command-line tool, GitHub provides
					a web-based graphical interface and desktop as well as mobile
					integration</p>
				<p>
					<a class="btn btn-default" href="http://www.github.com"
					role="button">Take me to Github</a>
				</p>
			</div>
			<div class="col-md-4">
				<img data-src="holder.js/100%x180" alt="...">
				<h2>Bootstrap</h2>
				<p>Bootstrap is a free collection of tools for creating websites and
					web applications. It contains HTML and CSS-based design templates for
					typography, forms, buttons, navigation and other interface components,
					as well as optional JavaScript extensions.</p>
				<p>
					<a class="btn btn-default" href="http://www.getbootstrap.com"
					role="button">Take me to Bootstrap</a>
				</p>
			</div>
			<div class="col-md-4">
				<img data-src="holder.js/100%x180" alt="...">
				<h2>Play Framework</h2>
				<p>Play is an open source web application framework, written in Scala
					and Java, which follows the model-view-controller (MVC) architectural
					pattern. It aims to optimize developer productivity by using
					convention over configuration, hot code reloading and display of
					errors in the browser</p>
				<p>
					<a class="btn btn-default" href="http://www.playframework.com"
					role="button">Take me to Play</a>
				</p>
			</div>
		</div>
		<div style="padding-top:30px; text-align:center">
			<a href="https://github.com/mamawego/de.htwg.se"
				class="btn btn-outline btn-lg">View FiveWins on GitHub</a>
			<a href="https://github.com/NicolaiLoeffler/de.htwg.wt.fivewins"
				class="btn btn-outline btn-lg">View FiveWins WUI on GitHub</a>
		</div>
	</div>
}
