@(title: String)(content: Html)
<html ng-app="fiveWinsApp">
  <head>
    <meta charset="utf-8">
    <title>Five Wins.</title>
    	  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/FiveWins.css")' />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
          <!-- ><script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script> -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script>
      var fiveWinsApp = angular.module('fiveWinsApp', ['ngRoute']);

      fiveWinsApp.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: '@routes.Assets.at("htmls/start.html")',
            controller: 'FiveWinsStartCtrl'
          }).
          when('/game', {
            templateUrl: '@routes.Assets.at("htmls/game.html")',
            controller: 'FiveWinsGameCtrl'
          }).
          when('/test', {
            templateUrl: 'test.html',
            controller: 'FiveWinsStartCtrl'
          }).
          otherwise({
            redirectTo: '/'
          });
      });

      fiveWinsApp.controller('FiveWinsStartCtrl', function ($scope, $http){
        /*$http.get('countries.json').success(function(data) {
          $scope.countries = data;
        });*/
      });

      fiveWinsApp.controller('FiveWinsGameCtrl', function ($scope, $routeParams, $compile){
        //console.log($routeParams);
        // variables
        $scope.fieldSize = 15;

        $scope.field = [
          [" ", " ", " "],
          [" ", " ", " "],
          [" ", " ", " "]
        ];

        $scope.isGameStarted = false;

        //functions
        $scope.resizeField = function() {
          newArray = [];
          for(i = 0; i < $scope.fieldSize; i++) {
              newArray[i] = [];
            for(j = 0; j < $scope.fieldSize; j++) {
              newArray[i][j] = " ";
            }
          }

          $scope.field = newArray;
        };

        $scope.addEventListener = function() {
          /*for(i=0; i < $scope.fieldSize;i++) {
            $('#row_'+i).children().each(function () {
              //console.log($(this));
              $(this).attr('ng-click','pressed()');
              $compile($(this))($scope);

              console.log('test');
            });
            console.log('#row_'+i);
          }*/
          console.log('isGameStarted = true');
          $scope.isGameStarted = true;
          $('#config').hide();
          $('#gameOptions').show()
        };

        $scope.pressed = function($event) {
          if($scope.isGameStarted) {
            console.log($event.target);
            row = $($event.target).parent().attr("id").split("_")[1];
            cell = $($event.target).attr("id");
            console.log(row);
            console.log(cell);

          }
        };

      });
    </script>
  </head>
  <body>
    <!-- HEADER -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
		    <div class="container">
			       <div class="navbar-header">
				           <button type="button" class="navbar-toggle collapsed"
					            data-toggle="collapse" data-target=".navbar-collapse">
					            <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
				           </button>

				          <button type="button" class="btn btn-circle btn-xl" style="background-color:#006633"
					             onclick="location.href='#/'">5</button>
			       </div>
			       <div class="navbar-collapse collapse">
				          <ul class="nav navbar-nav">
					             <li><a href="#/game">Play</a></li>
					             <li><a href="#about">About</a></li>
				          </ul>
			       </div>
		    </div>
	  </div>
    <!-- HEADER END -->
    <div ng-view></div>
  </body>
</html>
